.chatter-labels-icons {
	vertical-align: baseline;

	.chatter-labels-icon {
		--size: 1.8rem;
		height: var(--size);
		width: auto;
		min-width: var(--size);
		margin: 0 .3rem .2rem 0;
		vertical-align: middle;
	}
}

.chatter-labels {
	padding: 8px;

	h5 {
		margin-bottom: 6px;

		font-family: var(--font-display);
		line-height: var(--line-height-heading);
		font-size: var(--font-size-3);
		font-weight: var(--font-weight-medium);
		letter-spacing: -0.18px;
	}

	form {
		.empty-list-notice {
			display: none;
			color: var(--color-text-alt-2);
			font-size: var(--font-size-base);

			.configure {
				display: block;
				color: var(--color-text-link);
			}
		}

		&:not(:has(.fieldsets > fieldset)) {
			.empty-list-notice {
				display: block;
			}

			button[type="submit"] {
				display: none;
			}
		}

		.fieldsets {
			margin-bottom: 6px;

			fieldset {
				label {
					display: block;
					padding: 4px 2px;

					font-size: var(--font-size-base);
					line-height: var(--line-height-body);

					input[type="checkbox"] {
						margin-right: 4px;
					}

					.icon {
						height: 18px;
						width: auto;
						margin-right: 4px;
						vertical-align: middle;
					}

					.assigned-at {
						color: var(--color-text-alt-2);
						font-size: 0.8em;
					}
				}
			}
		}

		button {
			height: var(--button-size-small);
			padding-inline: calc(var(--button-padding-x) + 2px);

			font-weight: var(--font-weight-semibold);
			font-size: var(--button-text-default);

			border-radius: var(--button-border-radius-default);
			background-color: var(--color-background-button-primary-default);
			color: var(--color-text-button-primary);

			&:disabled {
				cursor: not-allowed;
				background-color: var(--color-background-button-disabled);
				color: var(--color-text-button-disabled);
			}
		}
	}
}
