body {
	font-size: 18px;

	.hidden {
		display: none;
	}

	.invisible {
		visibility: hidden;
	}

	button,
	input {
		font-size: inherit;

		/* Position */
		padding: 0.25em 0.5em;

		/* Border */
		border-style: solid;
		border-width: 1px;
		border-color: lightslategray;
	}

	fieldset,
	button,
	input {
		border-radius: 0.4em;
	}

	form[name="github-gist"] {
		a.create-token {
			display: inline-block;
		}

		input[name="token"] {
			&[type="password"] {
				& + button.token-visibility-toggle {
					.text-hide {
						visibility: hidden;
					}
				}
			}

			&:not([type="password"]) {
				& + button.token-visibility-toggle {
					.text-show {
						visibility: hidden;
					}
				}
			}
		}

		button.token-visibility-toggle {
			display: inline-grid;
			place-items: center;

			& > span {
				grid-area: 1 / 1;
			}
		}
	}

	form[name="labels"] {
		width: max-content;

		.fieldsets {
			fieldset {
				--input-label-padding: 0.2em;

				padding: 0.5em;
				margin-bottom: 0.6em;

				.label {
					display: flex;
					justify-content: space-between;
					align-items: center;

					label {
						padding: var(--input-label-padding);

						input[name="letter[]"] {
							width: 1em;
						}
					}

					button.delete {
						background: transparent;
						border: none;
						cursor: pointer;
						line-height: 0;
						padding: 0.4em;
						margin-left: 0.2em;

						.icon {
							--size: 0.9em;

							width: var(--size);
							height: var(--size);

							/* Icon */
							mask-image: url("../images/delete.svg");
							mask-repeat: no-repeat;
							mask-size: contain;
							background-color: #444;
						}
					}
				}
			}

			.assignments {
				&:not(:has(ul > li)) {
					display: none;
				}

				h4 {
					margin: 1em 0 0.6em var(--input-label-padding);
				}

				ul {
					margin: 0.6em 0;

					li {
						.username {
							margin-right: 0.2em;
						}

						.assigned-at {
							font-size: 0.8em;
							color: gray;
						}
					}
				}
			}

			&:not(:has(fieldset)) + .empty-list-notice {
				display: block;
			}
		}

		.empty-list-notice {
			display: none;
			color: gray;
		}
	}

	.toast-saved {
		margin-left: 0.4em;
		color: green;
	}
}
