body {
	--input-border: 1px solid lightslategray;
	--input-border-radius: 0.4em;

	padding: 0 1.4em 1.4em;
	font-size: 18px;

	.invisible {
		visibility: hidden;
	}

	button,
	input,
	textarea {
		font-size: inherit;

		/* Position */
		padding: 0.25em 0.5em;

		/* Border */
		border: var(--input-border);
	}

	fieldset,
	button,
	input,
	textarea {
		border-radius: var(--input-border-radius);
	}

	input[type="file"] {
		border: none;
	}

	form[name="github-gist"] {
		a.create-token {
			display: inline-block;
		}

		input[name="token"] {
			&[type="password"] {
				& + button.token-visibility-toggle {
					.text-hide {
						visibility: hidden;
					}
				}
			}

			&:not([type="password"]) {
				& + button.token-visibility-toggle {
					.text-show {
						visibility: hidden;
					}
				}
			}
		}

		button.token-visibility-toggle {
			display: inline-grid;
			place-items: center;

			& > span {
				grid-area: 1 / 1;
			}
		}
	}

	.labels {
		width: max-content;

		.fieldsets {
			fieldset {
				--input-label-padding: 0.2em;

				display: flex;
				align-items: center;
				padding: 0.5em;
				margin-bottom: 0.6em;

				.move,
				.buttons {
					display: flex;
					flex-direction: column;
				}

				.buttons button,
				.move button,
				.assignments li button {
					background: transparent;
					border: none;
					cursor: pointer;
					line-height: 0;
					padding: 0.4em;

					.icon {
						--size: 0.9em;

						width: var(--size);
						height: var(--size);
						mask-repeat: no-repeat;
						mask-size: contain;
						background-color: #444;
					}

					&.up .icon {
						mask-image: url("../images/arrow-up.svg");
					}

					&.down .icon {
						mask-image: url("../images/arrow-down.svg");
					}

					&.delete .icon {
						mask-image: url("../images/delete.svg");
					}

					&.delete-assignment .icon {
						mask-image: url("../images/delete.svg");
					}
				}

				.content {
					flex: 1;
				}

				.buttons {
					align-self: start;
				}

				.label {
					label {
						display: inline-block;
						position: relative;
						padding: var(--input-label-padding);

						img.icon-preview {
							--size: 1.2em;

							height: var(--size);
							width: auto;
							min-width: var(--size);
							padding: 0.2em;
							vertical-align: middle;
							border: var(--input-border);
							border-radius: var(--input-border-radius);
							cursor: pointer;
						}

						input.icon {
							position: absolute;
							width: 1px;
							height: 1px;
							padding: 0;
							overflow: hidden;
							clip-path: inset(50%);
							opacity: 0;
							border: 0;
						}
					}
				}
			}

			.assignments {
				h4 {
					margin: 1em 0 0.6em var(--input-label-padding);
				}

				.toggle-add-assignments.active {
					color: #373;
					border-color: #373;
					background-color: #efe;
				}

				.toggle-remove-assignments.active {
					color: #a33;
					border-color: #a33;
					background-color: #fee;
				}

				ul {
					margin: 0.6em 0;

					&:not(:has(li)) {
						display: none;
					}

					li {
						.username {
							margin-right: 0.2em;
						}

						.assigned-at {
							font-size: 0.8em;
							color: gray;
						}

						button {
							vertical-align: middle;

							&.invisible {
								width: 0;
								padding-inline: 0;
								overflow: hidden;
							}
						}
					}
				}

				textarea {
					display: block;
					width: 100%;
					margin: 0.6em 0 0.4em;
					font-family: inherit;
					resize: vertical;
				}
			}

			&:not(:has(fieldset)) + .empty-list-notice {
				display: block;
			}
		}

		.empty-list-notice {
			display: none;
			color: gray;
		}
	}

	.toast {
		margin-left: 0.4em;

		&.saved,
		&.added {
			color: green;
		}

		&.error {
			color: red;
		}
	}
}
